body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:102px;
    top:11px;
    width:794px;
    height:1487px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:794px;
    height:1487px;
}

.u1 {
    position:absolute;
    left:2px;
    top:736px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../shoujixin_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:182px;
    top:318px;
    width:640px;
    height:822px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:828px;
}

.u3 {
    position:absolute;
    left:2px;
    top:403px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../shoujixin_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:182px;
    top:1140px;
    width:640px;
    height:97px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:97px;
}

.u5 {
    position:absolute;
    left:2px;
    top:40px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../shoujixin_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:470px;
    top:1150px;
    width:39px;
    height:36px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../shoujixin_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:682px;
    top:1152px;
    width:39px;
    height:33px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:33px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../shoujixin_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:277px;
    top:1154px;
    width:38px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:429px;
    top:1145px;
    width:123px;
    height:92px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u13 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:641px;
    top:1145px;
    width:123px;
    height:92px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u15 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:234px;
    top:1140px;
    width:123px;
    height:92px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u17 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../shoujixin_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:325px;
    top:1150px;
    width:11px;
    height:11px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:17px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../蓝景丽家_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:242px;
    top:530px;
    width:507px;
    height:274px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:513px;
    height:280px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:503px;
    height:266px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../蓝景丽家_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:181px;
    top:317px;
    width:639px;
    height:86px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:645px;
    height:92px;
}

.u24 {
    position:absolute;
    left:2px;
    top:24px;
    width:635px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../蓝景丽家_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:201px;
    top:341px;
    width:38px;
    height:38px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:44px;
}

.u26 {
    position:absolute;
    left:2px;
    top:9px;
    width:34px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_mouseDown {
    background-image: url('../蓝景丽家_files/u27_mouseDown.png');
}

.u27_normal {
    background-image: url('../蓝景丽家_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:181px;
    top:402px;
    width:210px;
    height:50px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:56px;
}

.u28 {
    position:absolute;
    left:2px;
    top:17px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_mouseOver {
    background-image: url('../蓝景丽家_files/u29_mouseOver.png');
}

.u29_normal {
    background-image: url('../蓝景丽家_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:601px;
    top:402px;
    width:219px;
    height:50px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:225px;
    height:56px;
}

.u30 {
    position:absolute;
    left:2px;
    top:17px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_mouseOver {
    background-image: url('../蓝景丽家_files/u27_normal.png');
}

.u31_mouseDown {
    background-image: url('../蓝景丽家_files/u27_normal.png');
}

.u31_normal {
    background-image: url('../蓝景丽家_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:391px;
    top:402px;
    width:210px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:17px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:181px;
    top:452px;
    width:640px;
    height:688px;
    overflow:hidden;
}

#pd0u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:688px;
    
}

.u34_normal {
    background-image: url('../蓝景丽家_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:0px;
    top:0px;
    width:639px;
    height:812px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:639px;
    height:812px;
}

.u35 {
    position:absolute;
    left:2px;
    top:398px;
    width:635px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:632px;
    height:103px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:638px;
    height:109px;
}

.u37 {
    position:absolute;
    left:2px;
    top:44px;
    width:628px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u38 {
    position:absolute;
    left:181px;
    top:452px;
    width:640px;
    height:688px;
    overflow:hidden;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:688px;
    
}

.u39_normal {
    background-image: url('../蓝景丽家_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:0px;
    width:639px;
    height:679px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:645px;
    height:685px;
}

.u40 {
    position:absolute;
    left:2px;
    top:332px;
    width:635px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_container {
    position:absolute;
    left:0px;
    top:-25px;
    width:639px;
    height:818px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:639px;
    height:818px;
}

.u42 {
    position:absolute;
    left:2px;
    top:401px;
    width:635px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:181px;
    top:452px;
    width:640px;
    height:688px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:688px;
    
}

.u44_normal {
    background-image: url('../蓝景丽家_files/u39_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:0px;
    width:639px;
    height:679px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:645px;
    height:685px;
}

.u45 {
    position:absolute;
    left:2px;
    top:332px;
    width:635px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_container {
    position:absolute;
    left:0px;
    top:-7px;
    width:639px;
    height:823px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:639px;
    height:823px;
}

.u47 {
    position:absolute;
    left:2px;
    top:404px;
    width:635px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:181px;
    top:452px;
    width:640px;
    height:688px;
    overflow:hidden;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:688px;
    
}

.u49_normal {
    background-image: url('../蓝景丽家_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:-6px;
    width:640px;
    height:817px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:817px;
}

.u50 {
    position:absolute;
    left:2px;
    top:400px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u51_container {
    position:absolute;
    left:0px;
    top:7px;
    width:640px;
    height:88px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:94px;
}

.u52 {
    position:absolute;
    left:2px;
    top:36px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

