body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:100px;
    top:10px;
    width:794px;
    height:1487px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:794px;
    height:1487px;
}

.u1 {
    position:absolute;
    left:2px;
    top:736px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../shoujixin_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:180px;
    top:317px;
    width:640px;
    height:822px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:828px;
}

.u3 {
    position:absolute;
    left:2px;
    top:403px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../shoujixin_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:180px;
    top:1139px;
    width:640px;
    height:97px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:97px;
}

.u5 {
    position:absolute;
    left:2px;
    top:40px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../shoujixin_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:468px;
    top:1149px;
    width:39px;
    height:36px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../shoujixin_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:680px;
    top:1151px;
    width:39px;
    height:33px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:33px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../shoujixin_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:275px;
    top:1153px;
    width:38px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:427px;
    top:1144px;
    width:123px;
    height:92px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u13 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:639px;
    top:1144px;
    width:123px;
    height:92px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u15 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:232px;
    top:1139px;
    width:123px;
    height:92px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u17 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../shoujixin_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:323px;
    top:1149px;
    width:11px;
    height:11px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:17px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../确定施工方式简介_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:181px;
    top:317px;
    width:639px;
    height:86px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:645px;
    height:92px;
}

.u22 {
    position:absolute;
    left:2px;
    top:24px;
    width:635px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../确定施工方式简介_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:201px;
    top:341px;
    width:38px;
    height:38px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:44px;
}

.u24 {
    position:absolute;
    left:2px;
    top:9px;
    width:34px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:743px;
    top:255px;
    width:46px;
    height:45px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:51px;
}

.u26 {
    position:absolute;
    left:2px;
    top:14px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../确定施工方式简介_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:228px;
    top:486px;
    width:546px;
    height:354px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:552px;
    height:360px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:542px;
    height:255px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../确定施工方式简介_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:181px;
    top:401px;
    width:320px;
    height:50px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../确定施工方式简介_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:501px;
    top:401px;
    width:319px;
    height:50px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:56px;
}

.u32 {
    position:absolute;
    left:2px;
    top:12px;
    width:315px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:16px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

