body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:102px;
  top:11px;
  width:794px;
  height:1487px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1487px;
}
#u2 {
  position:absolute;
  left:2px;
  top:736px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:182px;
  top:318px;
  width:640px;
  height:822px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:823px;
}
#u4 {
  position:absolute;
  left:2px;
  top:403px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:182px;
  top:1140px;
  width:640px;
  height:97px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:97px;
}
#u6 {
  position:absolute;
  left:2px;
  top:40px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:470px;
  top:1150px;
  width:39px;
  height:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:682px;
  top:1152px;
  width:39px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:277px;
  top:1154px;
  width:38px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:429px;
  top:1145px;
  width:123px;
  height:92px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u14 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:641px;
  top:1145px;
  width:123px;
  height:92px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u16 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:234px;
  top:1140px;
  width:123px;
  height:92px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u18 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:325px;
  top:1150px;
  width:11px;
  height:11px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:424px;
  top:423px;
  width:150px;
  height:150px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:36px;
  color:#3A7474;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u22 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:180px;
  top:317px;
  width:639px;
  height:86px;
  font-size:33px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:87px;
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:635px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:200px;
  top:341px;
  width:38px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:17px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:424px;
  top:600px;
  width:150px;
  height:150px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:36px;
  color:#226822;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u28 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:424px;
  top:790px;
  width:150px;
  height:150px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:36px;
  color:#800080;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u30 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:424px;
  top:980px;
  width:150px;
  height:150px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:36px;
  color:#800080;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u32 {
  position:absolute;
  left:2px;
  top:54px;
  width:146px;
  word-wrap:break-word;
}
