body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:102px;
  top:11px;
  width:794px;
  height:1487px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1487px;
}
#u2 {
  position:absolute;
  left:2px;
  top:736px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:182px;
  top:318px;
  width:640px;
  height:822px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:823px;
}
#u4 {
  position:absolute;
  left:2px;
  top:403px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:182px;
  top:1140px;
  width:640px;
  height:97px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:97px;
}
#u6 {
  position:absolute;
  left:2px;
  top:40px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:470px;
  top:1150px;
  width:39px;
  height:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:682px;
  top:1152px;
  width:39px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:277px;
  top:1154px;
  width:38px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:429px;
  top:1145px;
  width:123px;
  height:92px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u14 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:641px;
  top:1145px;
  width:123px;
  height:92px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u16 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:234px;
  top:1140px;
  width:123px;
  height:92px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u18 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:325px;
  top:1150px;
  width:11px;
  height:11px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:181px;
  top:1140px;
  width:643px;
  height:100px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:101px;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:230px;
  top:1147px;
  width:97px;
  height:93px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u24 {
  position:absolute;
  left:2px;
  top:38px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:438px;
  top:1143px;
  width:95px;
  height:94px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:94px;
}
#u26 {
  position:absolute;
  left:2px;
  top:39px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:660px;
  top:1144px;
  width:98px;
  height:93px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:93px;
}
#u28 {
  position:absolute;
  left:2px;
  top:38px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:181px;
  top:370px;
  width:643px;
  height:770px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:771px;
}
#u30 {
  position:absolute;
  left:2px;
  top:377px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:236px;
  top:550px;
  width:554px;
  height:478px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:478px;
}
#u32 {
  position:absolute;
  left:2px;
  top:231px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:181px;
  top:314px;
  width:643px;
  height:56px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:56px;
}
#u34 {
  position:absolute;
  left:2px;
  top:20px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:760px;
  top:320px;
  width:54px;
  height:45px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:45px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:442px;
  top:323px;
  width:121px;
  height:39px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:190px;
  top:321px;
  width:56px;
  height:42px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:243px;
  top:385px;
  width:542px;
  height:155px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:155px;
}
#u42 {
  position:absolute;
  left:2px;
  top:70px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:620px;
  top:692px;
  width:97px;
  height:28px;
  color:#434343;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:620px;
  top:842px;
  width:97px;
  height:28px;
  color:#434343;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:320px;
  top:692px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:466px;
  top:692px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:320px;
  top:842px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:466px;
  top:842px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
