body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:360px;
  top:20px;
  width:320px;
  height:495px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:495px;
}
#u1 {
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:360px;
  top:20px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:633px;
  top:36px;
  width:27px;
  height:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:377px;
  top:38px;
  width:35px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:360px;
  top:70px;
  width:320px;
  height:26px;
  color:#868686;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:370px;
  top:212px;
  width:300px;
  height:202px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:202px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:360px;
  top:106px;
  width:157px;
  height:31px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:456px;
  top:113px;
  width:17px;
  height:17px;
  color:#FF6600;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:439px;
  top:113px;
  width:17px;
  height:17px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u17 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:474px;
  top:113px;
  width:17px;
  height:17px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:360px;
  top:137px;
  width:320px;
  height:31px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:652px;
  top:147px;
  width:10px;
  height:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:495px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:495px;
}
#u25 {
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:303px;
  top:36px;
  width:27px;
  height:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:47px;
  top:38px;
  width:35px;
  height:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:30px;
  top:70px;
  width:320px;
  height:26px;
  color:#868686;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:26px;
}
#u33 {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:30px;
  top:106px;
  width:157px;
  height:31px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:126px;
  top:113px;
  width:17px;
  height:17px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u37 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:109px;
  top:113px;
  width:17px;
  height:17px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:144px;
  top:113px;
  width:17px;
  height:17px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u41 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:137px;
  width:320px;
  height:31px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:322px;
  top:147px;
  width:10px;
  height:10px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:36px;
  top:209px;
  width:307px;
  height:214px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:214px;
}
#u47 {
  position:absolute;
  left:2px;
  top:99px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:167px;
  width:320px;
  height:31px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:322px;
  top:178px;
  width:10px;
  height:10px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:360px;
  top:167px;
  width:320px;
  height:31px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:31px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:652px;
  top:178px;
  width:10px;
  height:10px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
