body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:25px;
  width:320px;
  height:495px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:495px;
}
#u1 {
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:25px;
  width:320px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:94px;
  top:85px;
  width:46px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:168px;
  top:87px;
  width:67px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:70px;
  top:135px;
  width:320px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u9 {
  position:absolute;
  left:167px;
  top:109px;
  width:110px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:77px;
  top:290px;
  width:302px;
  height:230px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:230px;
}
#u12 {
  position:absolute;
  left:2px;
  top:107px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:94px;
  top:182px;
  width:179px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:277px;
  top:145px;
  width:60px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:94px;
  top:145px;
  width:61px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:94px;
  top:208px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:94px;
  top:446px;
  width:209px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:94px;
  top:530px;
  width:40px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:84px;
  top:162px;
  width:306px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u26 {
  position:absolute;
  left:94px;
  top:424px;
  width:156px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:94px;
  top:234px;
  width:79px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:94px;
  top:274px;
  width:92px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:94px;
  top:300px;
  width:144px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:94px;
  top:324px;
  width:196px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:94px;
  top:350px;
  width:157px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:94px;
  top:376px;
  width:131px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:94px;
  top:402px;
  width:93px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:94px;
  top:470px;
  width:269px;
  height:48px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:48px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:134px;
  top:528px;
  width:200px;
  height:21px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:21px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:224px;
  top:234px;
  width:27px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:238px;
  top:208px;
  width:66px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:70px;
  top:0px;
  width:323px;
  height:708px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:708px;
}
#u51 {
  position:absolute;
  left:2px;
  top:346px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:197px;
  top:103px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#FF66CC;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:70px;
  top:25px;
  width:33px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:60px;
  top:590px;
  width:370px;
  height:130px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:130px;
}
#u57 {
  position:absolute;
  left:2px;
  top:57px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:155px;
  top:135px;
  width:100px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
