body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:102px;
  top:11px;
  width:794px;
  height:1487px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1487px;
}
#u1 {
  position:absolute;
  left:2px;
  top:736px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:182px;
  top:318px;
  width:640px;
  height:822px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:823px;
}
#u3 {
  position:absolute;
  left:2px;
  top:403px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:325px;
  top:1150px;
  width:11px;
  height:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:772px;
  top:341px;
  width:31px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:22px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:31px;
  height:2px;
}
#u7 {
  position:absolute;
  left:772px;
  top:353px;
  width:31px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:22px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:4px;
  width:31px;
  height:2px;
}
#u8 {
  position:absolute;
  left:772px;
  top:365px;
  width:31px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:22px;
  top:-5px;
  width:14px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:4px;
  width:31px;
  height:2px;
}
#u9 {
  position:absolute;
  left:125px;
  top:975px;
  width:57px;
  height:261px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:261px;
}
#u10 {
  position:absolute;
  left:2px;
  top:122px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:51px;
  top:290px;
  width:66px;
  height:1030px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:1031px;
}
#u12 {
  position:absolute;
  left:2px;
  top:507px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:66px;
  top:311px;
  width:534px;
  height:914px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:914px;
}
#u14 {
  position:absolute;
  left:2px;
  top:449px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:116px;
  top:267px;
  width:66px;
  height:712px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:712px;
}
#u16 {
  position:absolute;
  left:2px;
  top:348px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:688px;
  top:328px;
  width:51px;
  height:29px;
  font-size:25px;
  color:#E4E4E4;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:597px;
  top:410px;
  width:226px;
  height:815px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:816px;
}
#u20 {
  position:absolute;
  left:2px;
  top:400px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:598px;
  top:283px;
  width:226px;
  height:810px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:810px;
}
#u22 {
  position:absolute;
  left:2px;
  top:397px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:600px;
  top:321px;
  width:219px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:25px;
  color:#F2F2F2;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:116px;
  top:979px;
  width:66px;
  height:198px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:198px;
}
#u26 {
  position:absolute;
  left:2px;
  top:91px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:116px;
  top:1132px;
  width:66px;
  height:98px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:98px;
}
#u28 {
  position:absolute;
  left:2px;
  top:41px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:63px;
  top:290px;
  width:53px;
  height:980px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:981px;
}
#u30 {
  position:absolute;
  left:2px;
  top:482px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:180px;
  top:1224px;
  width:415px;
  height:2px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:3px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-7px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:161px;
  top:237px;
  width:691px;
  height:81px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:81px;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:597px;
  top:365px;
  width:13px;
  height:765px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:766px;
}
#u36 {
  position:absolute;
  left:2px;
  top:374px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:597px;
  top:365px;
  width:73px;
  height:45px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:117px;
  top:410px;
  width:65px;
  height:23px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
