body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:100px;
    top:10px;
    width:794px;
    height:1487px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:794px;
    height:1487px;
}

.u1 {
    position:absolute;
    left:2px;
    top:736px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../装修流程_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:180px;
    top:317px;
    width:640px;
    height:822px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:828px;
}

.u3 {
    position:absolute;
    left:2px;
    top:403px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../装修流程_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:180px;
    top:1139px;
    width:640px;
    height:97px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:97px;
}

.u5 {
    position:absolute;
    left:2px;
    top:40px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../装修流程_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:468px;
    top:1149px;
    width:39px;
    height:36px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../装修流程_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:680px;
    top:1151px;
    width:39px;
    height:33px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:33px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../装修流程_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:275px;
    top:1153px;
    width:38px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:427px;
    top:1144px;
    width:123px;
    height:92px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u13 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:639px;
    top:1144px;
    width:123px;
    height:92px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u15 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:232px;
    top:1139px;
    width:123px;
    height:92px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u17 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../装修流程_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:180px;
    top:403px;
    width:639px;
    height:734px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:645px;
    height:740px;
}

.u19 {
    position:absolute;
    left:2px;
    top:359px;
    width:635px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../装修流程_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:310px;
    top:472px;
    width:486px;
    height:176px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:182px;
}

.u21 {
    position:absolute;
    left:2px;
    top:80px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../装修流程_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:639px;
    height:3px;
}

.u22 {
    position:absolute;
    left:180px;
    top:1133px;
    width:639px;
    height:10px;
    
}

.u23_line {
    background-image: url('../装修流程_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:734px;
}

.u23 {
    position:absolute;
    left:242px;
    top:403px;
    width:10px;
    height:734px;
    
}

.u24_normal {
    background-image: url('../装修流程_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:194px;
    top:973px;
    width:102px;
    height:116px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:116px;
}

.u25 {
    position:absolute;
    left:2px;
    top:50px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../装修流程_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:194px;
    top:733px;
    width:102px;
    height:116px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:116px;
}

.u27 {
    position:absolute;
    left:2px;
    top:50px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../装修流程_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:198px;
    top:492px;
    width:102px;
    height:109px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:109px;
}

.u29 {
    position:absolute;
    left:2px;
    top:46px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../装修流程_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:180px;
    top:317px;
    width:639px;
    height:86px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:645px;
    height:92px;
}

.u31 {
    position:absolute;
    left:2px;
    top:24px;
    width:635px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../装修流程_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:200px;
    top:341px;
    width:38px;
    height:38px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:44px;
}

.u33 {
    position:absolute;
    left:2px;
    top:9px;
    width:34px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../装修流程_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:318px;
    top:606px;
    width:47px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../装修流程_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:422px;
    top:514px;
    width:70px;
    height:66px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:72px;
}

.u37 {
    position:absolute;
    left:2px;
    top:25px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../装修流程_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:510px;
    top:514px;
    width:70px;
    height:66px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:72px;
}

.u39 {
    position:absolute;
    left:2px;
    top:25px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../装修流程_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:598px;
    top:514px;
    width:70px;
    height:66px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:72px;
}

.u41 {
    position:absolute;
    left:2px;
    top:25px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../装修流程_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:332px;
    top:514px;
    width:70px;
    height:66px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:72px;
}

.u43 {
    position:absolute;
    left:2px;
    top:25px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../装修流程_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:312px;
    top:602px;
    width:484px;
    height:46px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:490px;
    height:52px;
}

.u45 {
    position:absolute;
    left:2px;
    top:15px;
    width:480px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../装修流程_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:682px;
    top:604px;
    width:39px;
    height:39px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:45px;
}

.u47 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../装修流程_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:686px;
    top:612px;
    width:29px;
    height:29px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../装修流程_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:744px;
    top:604px;
    width:39px;
    height:39px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:45px;
}

.u51 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../装修流程_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:752px;
    top:612px;
    width:26px;
    height:26px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u53 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:702px;
    top:554px;
    width:32px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../装修流程_files/u20_normal.png');
}

.u55_container {
    position:absolute;
    left:310px;
    top:723px;
    width:486px;
    height:176px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:182px;
}

.u56 {
    position:absolute;
    left:2px;
    top:80px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../装修流程_files/u34_normal.png');
}

.u57_container {
    position:absolute;
    left:317px;
    top:856px;
    width:47px;
    height:36px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../装修流程_files/u40_normal.png');
}

.u59_container {
    position:absolute;
    left:421px;
    top:764px;
    width:70px;
    height:66px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:72px;
}

.u60 {
    position:absolute;
    left:2px;
    top:17px;
    width:66px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../装修流程_files/u40_normal.png');
}

.u61_container {
    position:absolute;
    left:331px;
    top:764px;
    width:70px;
    height:66px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:72px;
}

.u62 {
    position:absolute;
    left:2px;
    top:17px;
    width:66px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../装修流程_files/u44_normal.png');
}

.u63_container {
    position:absolute;
    left:311px;
    top:852px;
    width:484px;
    height:46px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:490px;
    height:52px;
}

.u64 {
    position:absolute;
    left:2px;
    top:15px;
    width:480px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../装修流程_files/u46_normal.png');
}

.u65_container {
    position:absolute;
    left:681px;
    top:854px;
    width:39px;
    height:39px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:45px;
}

.u66 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../装修流程_files/u48_normal.png');
}

.u67_container {
    position:absolute;
    left:685px;
    top:862px;
    width:29px;
    height:29px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u68 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../装修流程_files/u50_normal.png');
}

.u69_container {
    position:absolute;
    left:743px;
    top:854px;
    width:39px;
    height:39px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:45px;
}

.u70 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../装修流程_files/u52_normal.png');
}

.u71_container {
    position:absolute;
    left:751px;
    top:862px;
    width:26px;
    height:26px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:701px;
    top:804px;
    width:32px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:681px;
    top:602px;
    width:53px;
    height:41px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:47px;
}

.u75 {
    position:absolute;
    left:2px;
    top:12px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../装修流程_files/u20_normal.png');
}

.u76_container {
    position:absolute;
    left:311px;
    top:947px;
    width:486px;
    height:176px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:182px;
}

.u77 {
    position:absolute;
    left:2px;
    top:80px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../装修流程_files/u34_normal.png');
}

.u78_container {
    position:absolute;
    left:318px;
    top:1080px;
    width:47px;
    height:36px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:36px;
}

.u79 {
    position:absolute;
    left:2px;
    top:10px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../装修流程_files/u40_normal.png');
}

.u80_container {
    position:absolute;
    left:422px;
    top:988px;
    width:70px;
    height:66px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:72px;
}

.u81 {
    position:absolute;
    left:2px;
    top:25px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../装修流程_files/u40_normal.png');
}

.u82_container {
    position:absolute;
    left:332px;
    top:988px;
    width:70px;
    height:66px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:72px;
}

.u83 {
    position:absolute;
    left:2px;
    top:25px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../装修流程_files/u44_normal.png');
}

.u84_container {
    position:absolute;
    left:312px;
    top:1076px;
    width:484px;
    height:46px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:490px;
    height:52px;
}

.u85 {
    position:absolute;
    left:2px;
    top:15px;
    width:480px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../装修流程_files/u46_normal.png');
}

.u86_container {
    position:absolute;
    left:682px;
    top:1078px;
    width:39px;
    height:39px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:45px;
}

.u87 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../装修流程_files/u48_normal.png');
}

.u88_container {
    position:absolute;
    left:686px;
    top:1086px;
    width:29px;
    height:29px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:29px;
}

.u89 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../装修流程_files/u50_normal.png');
}

.u90_container {
    position:absolute;
    left:744px;
    top:1078px;
    width:39px;
    height:39px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:45px;
}

.u91 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../装修流程_files/u52_normal.png');
}

.u92_container {
    position:absolute;
    left:752px;
    top:1086px;
    width:26px;
    height:26px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u93 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:702px;
    top:1028px;
    width:32px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

