body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:54px;
  width:400px;
  height:538px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:538px;
}
#u1 {
  position:absolute;
  left:2px;
  top:261px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1px;
  top:0px;
  width:350px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:351px;
  top:0px;
  width:49px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1px;
  top:21px;
  width:399px;
  height:37px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:1px;
  width:400px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:167px;
  top:9px;
  width:69px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:355px;
  top:10px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:350px;
  top:1px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:1px;
  top:4px;
  width:38px;
  height:29px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:37px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:1px;
  width:400px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:39px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:19102px;
  top:0px;
  width:588px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:19326px;
  top:16px;
  width:69px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:19116px;
  top:20px;
  width:16px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:-1px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:16px;
  height:1px;
}
#u23 {
  position:absolute;
  left:14px;
  top:15px;
  width:16px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:-1px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:16px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:58px;
  width:400px;
  height:534px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:534px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:70px;
  top:60px;
  width:250px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:70px;
  top:105px;
  width:250px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27 {
  position:absolute;
  left:67px;
  top:94px;
  width:263px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  height:180px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:184px;
}
#u29 {
  position:absolute;
  left:2px;
  top:82px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:26px;
  top:50px;
  width:200px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u31 {
  position:absolute;
  left:26px;
  top:24px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#33CC00;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:28px;
  top:79px;
  width:144px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:26px;
  top:117px;
  width:200px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u36 {
  position:absolute;
  left:86px;
  top:132px;
  width:78px;
  height:30px;
  color:#333333;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u27_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  height:180px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:184px;
}
#u39 {
  position:absolute;
  left:2px;
  top:82px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:26px;
  top:50px;
  width:200px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u41 {
  position:absolute;
  left:26px;
  top:24px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#33CC00;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:28px;
  top:79px;
  width:144px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:26px;
  top:117px;
  width:200px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u46 {
  position:absolute;
  left:86px;
  top:132px;
  width:78px;
  height:30px;
  color:#333333;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u27_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  height:180px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:184px;
}
#u49 {
  position:absolute;
  left:2px;
  top:82px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:26px;
  top:50px;
  width:200px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u51 {
  position:absolute;
  left:26px;
  top:24px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#33CC00;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:28px;
  top:79px;
  width:157px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:26px;
  top:117px;
  width:200px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u56 {
  position:absolute;
  left:86px;
  top:132px;
  width:78px;
  height:30px;
  color:#333333;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:303px;
  width:400px;
  height:230px;
  overflow:hidden;
  visibility:hidden;
}
#u58_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:230px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:1px;
  top:29px;
  width:399px;
  height:200px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:200px;
}
#u60 {
  position:absolute;
  left:2px;
  top:92px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:70px;
  top:20px;
  width:250px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u24_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:534px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:70px;
  top:23px;
  width:183px;
  height:16px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:255px;
  top:23px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#009900;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:21px;
  width:400px;
  height:571px;
  overflow:hidden;
  visibility:hidden;
}
#u66_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:571px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u66_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:610px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:610px;
}
#u68 {
  position:absolute;
  left:2px;
  top:297px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:9px;
  top:143px;
  width:294px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:294px;
  height:1px;
}
#u70 {
  position:absolute;
  left:9px;
  top:179px;
  width:294px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:294px;
  height:1px;
}
#u71 {
  position:absolute;
  left:9px;
  top:214px;
  width:294px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:294px;
  height:1px;
}
#u72 {
  position:absolute;
  left:9px;
  top:250px;
  width:294px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:294px;
  height:1px;
}
#u73 {
  position:absolute;
  left:9px;
  top:286px;
  width:294px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:294px;
  height:1px;
}
#u74 {
  position:absolute;
  left:9px;
  top:322px;
  width:294px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:294px;
  height:1px;
}
#u75 {
  position:absolute;
  left:9px;
  top:357px;
  width:294px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:294px;
  height:1px;
}
#u76 {
  position:absolute;
  left:9px;
  top:393px;
  width:294px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:277px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:294px;
  height:1px;
}
#u77 {
  position:absolute;
  left:30px;
  top:123px;
  width:270px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:30px;
  top:160px;
  width:270px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:9px;
  top:125px;
  width:15px;
  height:9px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:9px;
  top:134px;
  width:15px;
  height:7px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:7px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:7px;
  top:163px;
  width:18px;
  height:17px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-8px;
  width:14px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:82px;
  top:11px;
  width:118px;
  height:85px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:85px;
}
#u88 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:67px;
  top:152px;
  width:10px;
  height:10px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:114px;
  top:549px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:0px;
  top:117px;
  width:303px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u94 {
  position:absolute;
  left:0px;
  top:149px;
  width:303px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  position:absolute;
  left:0px;
  top:183px;
  width:303px;
  height:37px;
  font-size:18px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:37px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:299px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:185px;
  width:304px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:7px;
  top:192px;
  width:23px;
  height:21px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:302px;
  top:0px;
  width:170px;
  height:580px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:580px;
}
#u101 {
  position:absolute;
  left:2px;
  top:282px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:302px;
  top:0px;
  width:95px;
  height:610px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
