body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:102px;
  top:11px;
  width:794px;
  height:1487px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1487px;
}
#u2 {
  position:absolute;
  left:2px;
  top:736px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:182px;
  top:318px;
  width:640px;
  height:822px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:823px;
}
#u4 {
  position:absolute;
  left:2px;
  top:403px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:182px;
  top:1140px;
  width:640px;
  height:97px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:97px;
}
#u6 {
  position:absolute;
  left:2px;
  top:40px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:470px;
  top:1150px;
  width:39px;
  height:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:682px;
  top:1152px;
  width:39px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:277px;
  top:1154px;
  width:38px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:429px;
  top:1145px;
  width:123px;
  height:92px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u14 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:641px;
  top:1145px;
  width:123px;
  height:92px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u16 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:234px;
  top:1140px;
  width:123px;
  height:92px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u18 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:325px;
  top:1150px;
  width:11px;
  height:11px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:242px;
  top:530px;
  width:507px;
  height:274px;
  font-size:16px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:275px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:503px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:181px;
  top:317px;
  width:639px;
  height:86px;
  font-size:33px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:87px;
}
#u24 {
  position:absolute;
  left:2px;
  top:24px;
  width:635px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:201px;
  top:341px;
  width:38px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:17px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:181px;
  top:402px;
  width:210px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:51px;
}
#u27_img.mouseDown {
}
#u27.mouseDown {
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:206px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:601px;
  top:402px;
  width:219px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:51px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:215px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:391px;
  top:402px;
  width:210px;
  height:50px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:51px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u31_img.mouseDown {
}
#u31.mouseDown {
}
#u32 {
  position:absolute;
  left:2px;
  top:17px;
  width:206px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:181px;
  top:452px;
  width:640px;
  height:688px;
  overflow:hidden;
  visibility:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:688px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:812px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:812px;
}
#u35 {
  position:absolute;
  left:2px;
  top:398px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:103px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:104px;
}
#u37 {
  position:absolute;
  left:2px;
  top:44px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:181px;
  top:452px;
  width:640px;
  height:688px;
  overflow:hidden;
  visibility:hidden;
}
#u38_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:688px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:679px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:680px;
}
#u40 {
  position:absolute;
  left:2px;
  top:332px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:-25px;
  width:639px;
  height:818px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:818px;
}
#u42 {
  position:absolute;
  left:2px;
  top:401px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:181px;
  top:452px;
  width:640px;
  height:688px;
  overflow:hidden;
  visibility:hidden;
}
#u43_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:688px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:679px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:680px;
}
#u45 {
  position:absolute;
  left:2px;
  top:332px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:-7px;
  width:639px;
  height:823px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:823px;
}
#u47 {
  position:absolute;
  left:2px;
  top:404px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:181px;
  top:452px;
  width:640px;
  height:688px;
  overflow:hidden;
  visibility:hidden;
}
#u48_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:688px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:-6px;
  width:640px;
  height:817px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:817px;
}
#u50 {
  position:absolute;
  left:2px;
  top:400px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:7px;
  width:640px;
  height:88px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:89px;
}
#u52 {
  position:absolute;
  left:2px;
  top:36px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
