body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:895px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:101px;
  top:10px;
  width:794px;
  height:1487px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:1487px;
}
#u2 {
  position:absolute;
  left:2px;
  top:736px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:181px;
  top:317px;
  width:640px;
  height:822px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:823px;
}
#u4 {
  position:absolute;
  left:2px;
  top:403px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:181px;
  top:1139px;
  width:640px;
  height:97px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:97px;
}
#u6 {
  position:absolute;
  left:2px;
  top:40px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:469px;
  top:1149px;
  width:39px;
  height:36px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:681px;
  top:1151px;
  width:39px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:276px;
  top:1153px;
  width:38px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:428px;
  top:1144px;
  width:123px;
  height:92px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u14 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:640px;
  top:1144px;
  width:123px;
  height:92px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u16 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:233px;
  top:1139px;
  width:123px;
  height:92px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:93px;
}
#u18 {
  position:absolute;
  left:2px;
  top:38px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:324px;
  top:1149px;
  width:11px;
  height:11px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:181px;
  top:317px;
  width:639px;
  height:86px;
  font-size:33px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:87px;
}
#u22 {
  position:absolute;
  left:2px;
  top:35px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:201px;
  top:341px;
  width:38px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:17px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:181px;
  top:403px;
  width:639px;
  height:120px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:121px;
}
#u26 {
  position:absolute;
  left:2px;
  top:52px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:241px;
  top:541px;
  width:86px;
  height:86px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
#u28 {
  position:absolute;
  left:2px;
  top:35px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:241px;
  top:420px;
  width:86px;
  height:86px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
#u30 {
  position:absolute;
  left:2px;
  top:35px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:181px;
  top:523px;
  width:639px;
  height:120px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:121px;
}
#u32 {
  position:absolute;
  left:2px;
  top:52px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:181px;
  top:763px;
  width:639px;
  height:120px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:121px;
}
#u34 {
  position:absolute;
  left:2px;
  top:52px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:181px;
  top:883px;
  width:639px;
  height:120px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:121px;
}
#u36 {
  position:absolute;
  left:2px;
  top:52px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:181px;
  top:518px;
  width:639px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:630px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:639px;
  height:1px;
}
#u38 {
  position:absolute;
  left:180px;
  top:638px;
  width:639px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:630px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:639px;
  height:1px;
}
#u39 {
  position:absolute;
  left:352px;
  top:432px;
  width:150px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:352px;
  top:554px;
  width:150px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:24px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:352px;
  top:475px;
  width:292px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:23px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:352px;
  top:596px;
  width:292px;
  height:22px;
  font-size:18px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:23px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:739px;
  top:420px;
  width:65px;
  height:17px;
  font-size:15px;
  color:#666666;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:740px;
  top:541px;
  width:65px;
  height:17px;
  font-size:15px;
  color:#666666;
  text-align:right;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
