body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:102px;
    top:11px;
    width:794px;
    height:1487px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:794px;
    height:1487px;
}

.u1 {
    position:absolute;
    left:2px;
    top:736px;
    width:790px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../shoujixin_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:182px;
    top:318px;
    width:640px;
    height:822px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:828px;
}

.u3 {
    position:absolute;
    left:2px;
    top:403px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../shoujixin_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:182px;
    top:1140px;
    width:640px;
    height:97px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:640px;
    height:97px;
}

.u5 {
    position:absolute;
    left:2px;
    top:40px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../shoujixin_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:470px;
    top:1150px;
    width:39px;
    height:36px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../shoujixin_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:682px;
    top:1152px;
    width:39px;
    height:33px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:33px;
}

.u9 {
    position:absolute;
    left:2px;
    top:8px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../shoujixin_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:277px;
    top:1154px;
    width:38px;
    height:32px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:38px;
    height:32px;
}

.u11 {
    position:absolute;
    left:2px;
    top:8px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u12_container {
    position:absolute;
    left:429px;
    top:1145px;
    width:123px;
    height:92px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u13 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u14_container {
    position:absolute;
    left:641px;
    top:1145px;
    width:123px;
    height:92px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u15 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u16_container {
    position:absolute;
    left:234px;
    top:1140px;
    width:123px;
    height:92px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:129px;
    height:98px;
}

.u17 {
    position:absolute;
    left:2px;
    top:38px;
    width:119px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../shoujixin_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:325px;
    top:1150px;
    width:11px;
    height:11px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:17px;
    height:17px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-2px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../确定施工方式_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:182px;
    top:332px;
    width:641px;
    height:734px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:647px;
    height:740px;
}

.u22 {
    position:absolute;
    left:2px;
    top:359px;
    width:637px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../确定施工方式_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:183px;
    top:401px;
    width:639px;
    height:734px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:645px;
    height:740px;
}

.u24 {
    position:absolute;
    left:2px;
    top:359px;
    width:635px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_line {
    background-image: url('../确定施工方式_files/u25_line.png');
}

.u25_line {
    position:absolute;
    left:0px;
    top:4px;
    width:639px;
    height:3px;
}

.u25 {
    position:absolute;
    left:184px;
    top:1061px;
    width:639px;
    height:10px;
    
}

.u26_normal {
    background-image: url('../确定施工方式_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:183px;
    top:315px;
    width:639px;
    height:86px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:645px;
    height:92px;
}

.u27 {
    position:absolute;
    left:2px;
    top:24px;
    width:635px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../确定施工方式_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:203px;
    top:339px;
    width:38px;
    height:38px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:44px;
}

.u29 {
    position:absolute;
    left:2px;
    top:9px;
    width:34px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../确定施工方式_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:316px;
    top:478px;
    width:374px;
    height:68px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:74px;
}

.u31 {
    position:absolute;
    left:2px;
    top:22px;
    width:370px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../确定施工方式_files/u30_normal.png');
}

.u32_container {
    position:absolute;
    left:316px;
    top:561px;
    width:374px;
    height:68px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:74px;
}

.u33 {
    position:absolute;
    left:2px;
    top:22px;
    width:370px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../确定施工方式_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:316px;
    top:655px;
    width:374px;
    height:295px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:380px;
    height:301px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:370px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../确定施工方式_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:330px;
    top:494px;
    width:34px;
    height:34px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:40px;
}

.u37 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../确定施工方式_files/u36_normal.png');
}

.u38_container {
    position:absolute;
    left:332px;
    top:578px;
    width:34px;
    height:34px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:40px;
    height:40px;
}

.u39 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../确定施工方式_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:0px;
    top:4px;
    width:31px;
    height:3px;
}

.u40 {
    position:absolute;
    left:772px;
    top:341px;
    width:31px;
    height:10px;
    
}

.u41_line {
    background-image: url('../确定施工方式_files/u41_line.png');
}

.u41_line {
    position:absolute;
    left:0px;
    top:4px;
    width:31px;
    height:3px;
}

.u41 {
    position:absolute;
    left:772px;
    top:353px;
    width:31px;
    height:10px;
    
}

.u42_line {
    background-image: url('../确定施工方式_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:31px;
    height:3px;
}

.u42 {
    position:absolute;
    left:772px;
    top:365px;
    width:31px;
    height:10px;
    
}

.u43_normal {
    background-image: url('../确定施工方式_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:183px;
    top:401px;
    width:320px;
    height:50px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u44 {
    position:absolute;
    left:2px;
    top:17px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../确定施工方式_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:503px;
    top:401px;
    width:319px;
    height:50px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:325px;
    height:56px;
}

.u46 {
    position:absolute;
    left:2px;
    top:17px;
    width:315px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:25px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u51_container {
    position:absolute;
    left:766px;
    top:337px;
    width:46px;
    height:45px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:52px;
    height:51px;
}

.u52 {
    position:absolute;
    left:2px;
    top:14px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

